/* CSS Document */
.beta_offline_footer{
	overflow: hidden;
	margin-top: 50px;
	padding-top: 25px;
	margin-right: 30px;
	border-top: 1px dotted #888;
	color: #888 !important;
}

.beta_offline_footer a{
	display: inline-block;
	margin-right: 40px;
	float: left;
	color: #272727;
}

.beta_offline_footer a:hover{
	color: #68A8F5;
}


.beta_offline_footer a img{
	max-width: 80px;
}

.beta_offline_footer h2,
.beta_offline_footer p{
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	color: #313131 !important;
}
