body.betaplugin{
	background-color: #131619;
	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#bcSOFF_container div{
	box-sizing: border-box;
}

#bcSOFF_container{
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
	margin: 0px;
	padding: 0px;
	padding-top: 17vh;
	box-sizing: border-box;
}

#bcSOFF_container .bcSOFF_message_box_wrapper{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

#bcSOFF_container .bcSOFF_message_box{
	background-color: rgba(32,37,42,0.90);
	padding: 40px;
	width: 100%;
	border: 1px solid #2E353C;
	border-radius: 2px;
	text-align: center;
	box-sizing: border-box;
}

#bcSOFF_container img.bcSOFF_offline_logo{
	max-height: 80px;
}

#bcSOFF_container h1, 
#bcSOFF_container h2, 
#bcSOFF_container h3, 
#bcSOFF_container h4, 
#bcSOFF_container h5, 
#bcSOFF_container p{
	color: #E3E6E9;	
}

p.bcSOFF_label{
	font-size: 13px;
	text-align: right;
	color: #414141;
	box-sizing: border-box;
}

#bcSOFF_container a{
	color: #0073aa;
	text-decoration: underline;
}

#bcSOFF_container a:hover{
	color: #0088C9;
	text-decoration: underline;
}

@media only screen and (max-width:640px) {
	
	#bcSOFF_container{
		padding-top: 40px;
	}
	
	#bcSOFF_container .bcSOFF_message_box_wrapper{
		width: 100%;
		max-width: auto;
	}

	#bcSOFF_container .bcSOFF_message_box{
		padding: 30px;
		width: 100%;
	}
}

/* wpadmin bar */
li.bcSOFF_offline a.ab-item{
	background-color: #0088C9 !important;
	color: #fff !important;
}

li.bcSOFF_offline a.ab-item:hover{
	background-color: #F15A29 !important;
	color: #fff !important;
}